<footer class="site-footer h-card">
  <div class="wrapper">

    {% comment %}
    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
    <div class="social-links">
      {%- include social.html -%}
    </div>
    {% endcomment %}

    <div class="footer-col-wrapper">
      <div class="footer-col">
      </div>
      <div class="footer-col">
      </div>
      {%- if site.author %}
      <div class="footer-col">
          {% if site.author.name and site.copyright -%}
          <p align="right">{{ site.author.motto | escape }} <br/> {{ site.copyright | escape }}</p>
          {%- endif %}
      </div>
      {%- endif %}
    </div>
    
  </div>

</footer>
