---
layout: default
---
<div>
	<p></p>
	<p><img src="{{ "/files/avatar_macro.jpg" | relative_url }}" width="120" alt="Zixiang Chen"></p>

	<p>Hello, my name is Zixiang Chen(陈子翔). I currently work as a teacher at a secondary vocational school in China. I am seeking a PhD position in the areas of technology & education, where my research interests will be centred on Learning Analytics.</p>

	<p>I also have a one-year teaching experience at an undergraduate university in China. Before that, I received my Master's degree in Software Engineering at <a href="https://www.szu.edu.cn/" target="_blank">Shenzhen University</a>, researching on Recommender Systems and Deep Learning. I believe that education is the driving force for humankind to advance, and the emerging technologies should serve the higher pursuit of humanity. This belief is precisely the original intention for me determined to devote to educational research.</p>

	<p><a href="{{ "/CV/" | relative_url }}">My CV</a> tells more about my professional life. If you are interested in me, please contact me via <a href="mailto:zixiangchen@foxmail.com" target="_blank">zixiangchen@foxmail.com</a>.</p>

</div>